@model List<UserModMenu>

@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="text-center mb-3">
    Seja bem-vindo, @User.Identity.Name!
</h1>

<h2>
    Você tem @Model.Count mod menus.
</h2>

@foreach (var mod in Model)
{
    <div class="card my-3 ">
        <div class="card-body p-3">
            <h3 class="mb-3">
                @mod.ModMenu.Title
            </h3>
            <p class="mb-2">
                @mod.ModMenu.Description
            </p>
            <form asp-controller="User" asp-action="Download" method="get">
                <input type="hidden" name="__id" value="@mod.ModMenu.Token">
                <button type="submit" class="btn btn-primary">
                    Baixar
                </button>
            </form>
        </div>
    </div>
}

